/* sahel font  from github */
/* @font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
        url('Sahel.woff2') format('woff2'),
        url('Sahel.woff') format('woff'),
        url('Sahel.ttf') format('truetype');
} */

/* 
@font-face {
	font-family: 'BYekan';
	src: url('fonts/BYekan.eot?#') format('eot'),
	url('fonts/BYekan.woff') format('woff'), 
	url('fonts/BYekan.ttf') format('truetype');
} */

body {
    direction: rtl;
    text-align: right;
    /* font-family: "Sahel" !important; */
    /* font-family:BYekan; */
}

/* از فونت ساحل استفاده کردم از طریق سی دی ان */
* {
    font-family: Sahel !important;
}

/* this one is jsut for navbar to bring the left */
ul.navbar-nav {
    margin-left: initial !important;
    margin-right: auto
}

p.post-meta {
    text-align: left;
}

.paginator-button {
    float: left !important;
}