{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% block title_meta %}
حذف مقاله
{% endblock title_meta %}
{% endblock title %}


{% block main %}
<div class="col-md-8 text-center mx-auto"> 
    <div class="card card-danger">
        <div class="card-header">
        <h3 class="card-title float-left mb-0">حذف مقاله</h3>
        </div>
        <div class="card-body py-4">
            <form method="post">{% csrf_token %}
                <p class="py-2">آیا از حذف مقاله "{{ object }}" از "{{object.author.get_full_name}}" مطین هستید؟</p>
                <input type="submit" value="تایید" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
{% endblock main %}


