{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% block title_meta %}
عملیات با موفقیت انجام شد
{% endblock title_meta %}
{% endblock title %}


{% block main %}
<div class="col-md-8 text-center mx-auto"> 
    <div class="card card-success">
        <div class="card-header">
        <h3 class="card-title float-left mb-0">تغیر رمز عبور</h3>
        </div>
        <div class="card-body py-4">
                <p class="py-2">رمز عبور با موفقیت تغیر یافت</p>
        </div>
    </div>
</div>
{% endblock main %}


