{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>ثبت نام در سایت</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'account/images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/rtl.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'account/images/bg-01.jpg' %});">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				{% comment %} error field for the time when user couldn't login {% endcomment %}
				{% if form.non_field_errors %}
					<div class="errors">
						{% for error  in form.non_field_errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% endif %}
				<form class="login100-form validate-form" method="POST"> 
                    {% csrf_token %}
					<span class="login100-form-title p-b-49">
						ثبت نام 
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">نام کاربری</span>
						{% comment %} for adding a class for html field i will use widget_tweaks {% endcomment %}
						{{form.username|add_class:"input100"}}
						{% comment %} you can see this error when you disabled javascript form your browser {% endcomment %}
						{% if form.username.errors %}
							<div class="errors">
								{% for error  in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
				
                	<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">ایمل</span>
						{% comment %} for adding a class for html field i will use widget_tweaks {% endcomment %}
						{{form.email|add_class:"input100"}}
						{% comment %} you can see this error when you disabled javascript form your browser {% endcomment %}
						{% if form.email.errors %}
							<div class="errors">
								{% for error  in form.email.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">رمز عبور</span>
						{% comment %} <input class="input100" type="password" name="pass" placeholder="پاسورد تان را وارید کنید"> {% endcomment %}
                        {{form.password1|add_class:"input100"}}
						{% if form.password1.errors %}
							<div class="errors">
								{% for error  in form.password1.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
                    
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">تایید رمز عبور</span>
						{% comment %} <input class="input100" type="password" name="pass" placeholder="پاسورد تان را وارید کنید"> {% endcomment %}
                        {{form.password2|add_class:"input100"}}
						{% if form.password2.errors %}
							<div class="errors">
								{% for error  in form.password2.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						حسابی دارد؟
                        <a href="{% url 'login' %}">
							وارید شوید 
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								ثبت نام
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
                            ثبت نام با
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<a href="#" class="txt2">
							ثبت نام
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'account/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'account/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/js/main.js' %}"></script>

</body>
</html>