{% extends 'blog/base_list.html' %}
{% load static %}
{% block category_title %} {% endblock %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'blog/img/home-bg.jpg' %})">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
          <h1> شیرحسین دانشیار</h1>
          <span class="subheading">با ما رشد کنید  </span>
          </div>
      </div>
      </div>
  </div>
  </header> 
{% endblock header %}


{% block previous_page_url %} 
{% url 'blog:home' page_obj.previous_page_number %}
{% endblock %}

{% block next_page_url %} 
{% url 'blog:home' page_obj.next_page_number %}
{% endblock %}
