{% extends 'blog/base_list.html' %}
{% block category_title %}
    <div class="alert alert-primary text-center mt-5" role="alert">
        نویسنده: {{author.get_full_name}}
    </div>
{% endblock %}

{% block header %}
    <header class="masthead">
    </header> 
{% endblock header %}

{% block previous_page_url %} 
{% url 'blog:author' author.username page_obj.previous_page_number %}
{% endblock %}

{% block next_page_url %} 
{% url 'blog:author' author.username page_obj.next_page_number %}
{% endblock %}