{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %} شیرحسین    
        {% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'blog/vendor/fontawesome-free/css/all.min.css" rel="stylesheet' %}" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/css/clean-blog.min.css' %}" rel="stylesheet">

    {% comment %} Sahel CDN {% endcomment %}
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/font-face.css">

    {% comment %} my own style for rtl {% endcomment %}
    <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">
    
    {% comment %} if i want to add my own CSS style in some pages so i can use like the following {% endcomment %}
    {% block custome_css %}
    {% endblock custome_css %}
</head>
<body>

    <!-- Navigation -->
    {% include 'blog/navbar.html' %}

    <!-- Main Content -->
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    {% include 'blog/footer.html' %}

    <!-- Bootstrap core JavaScript -->
    {% include 'blog/scripts.html' %}

</body>

</html>
