{% extends 'blog/base_list.html' %}
{% block category_title %}
    <div class="alert alert-primary text-center mt-5" role="alert">
        دسته بندی: {{category.title}}
    </div>
{% endblock %}

{% block header %}
    <header class="masthead">
    </header> 
{% endblock header %}

{% block previous_page_url %} 
{% url 'blog:category' category.slug page_obj.previous_page_number %}
{% endblock %}

{% block next_page_url %} 
{% url 'blog:category' category.slug page_obj.next_page_number %}
{% endblock %}