{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
<header class="masthead">
</header> 

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="alert alert-primary text-center" role="alert">
                دسته بندی: {{category.title}}
            </div>
        {% comment %} here i wanna use "Managers" instead of "all" --> like published  {% endcomment %}
        {% for article in articles %}
        <div class="post-preview">
            <a href="{{article.get_absolute_url}}">
            <h2 class="post-title">
                {{article.title}}
            </h2>
            <h3 class="post-subtitle">
                {{article.description|truncatewords:30}}
            </h3>
            </a>
            <p class="post-meta">پست شده توسط
            <a href="#">شیرحسین</a>
            {{article.jpublish}} </p>
        </div>
        {% for cat in article.category_published.all %}
            <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
        {% endfor %}
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix paginator-button">
            {% if articles.has_previous %}
            <a class="btn btn-primary float-right ml-5" href="{% url 'blog:category' category.slug articles.previous_page_number %}">&rarr; پست های جدید </a>
            {% endif %}
            {% if articles.has_next %}
            <a class="btn btn-primary float-right" href="{% url 'blog:category' category.slug articles.next_page_number %}"> پست ها قدیمی &larr;</a>
            {% endif %}
        </div>
        </div>
    </div>
    </div>

<hr>
{% endblock content %}
